@using Five_P.Models;
@model List<Tick_Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int intCount = 1;
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Đánh dấu bài viết</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Stt
                            </th>
                            <th>
                                <i class="far fa-newspaper"></i> Bài viết
                            </th>
                            <th>
                                <i class="now-ui-icons users_single-02"></i> Người dùng
                            </th>
                            <th class="text-right">
                                <i class="fas fa-magic"></i> Tùy chọn
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @intCount
                                        </td>
                                        <td>
                                            @item.Post.post_title
                                        </td>
                                        <td>
                                            @item.User.user_nicename
                                        </td>
                                        <td class="text-right">
                                            <i class="fas fa-user-edit"></i> |
                                            <i class="far fa-eye"></i> |
                                            <i class="far fa-trash-alt"></i>
                                        </td>
                                    </tr>
                                    intCount++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

