
@using Five_P.Models;
@model List<Comment>
@foreach (var item in Model)
{
    <div class="border-left border-bottom border-right row">
        <div class="col-md-9">
            <p>@item.comment_content</p>
        </div>
        <div class="col-md-3">
            <span class="float-right">@item.User.user_nicename <img src="~/Content/LayoutNguoiDung/ImgUser/Khong gian trang thái.png" class="w-50 h-50" /></span>
            <p><i class="fas fa-clock"></i> @item.comment_datecreated</p>
        </div>
    </div>
    <br />
}
