@using Five_P.Models;
@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int intStt = 1;
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Người dùng</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary text-left">
                            <th>
                                Stt
                            </th>
                            <th class="text-left">
                                <i class="fas fa-signature"></i> Tên
                            </th>
                            <th class="text-right">
                                <i class="far fa-file-image"></i> Ảnh
                            </th>
                            <th class="text-center">
                                <i class="fab fa-jedi-order"></i> Điểm nổi tiếng
                            </th>
                            <th class="text-center">
                                <i class="fas fa-medal"></i> Huy chương
                            </th>
                            <th class="text-center">
                                <i class="fas fa-book"></i> Bài viết
                            </th>
                            <th class="text-center">
                                <i class="fas fa-magic"></i> Tùy chọn
                            </th>
                            </thead>
                            <tbody>
                                @foreach ( var item in Model)
                                {
                                <tr>
                                    <td class="text-left">
                                        @intStt
                                    </td>
                                    <td class="text-left">
                                        @item.user_nicename
                                    </td>
                                    <td style="width:10%;height:10%" class="text-right">
                                        <img src="~/Content/LayoutNguoiDung/ImgUser/emp1.jpg" />
                                    </td>
                                    <td class="text-center">
                                        @item.user_popular
                                    </td>
                                    <td class="text-center">
                                        ....
                                    </td>
                                    <td class="text-center">
                                        ....
                                    </td>
                                    <td class="text-center">
                                        <i class="fas fa-user-edit"></i> |
                                        <i class="far fa-eye"></i> |
                                        <i class="far fa-trash-alt"></i>
                                    </td>
                                </tr>
                                    intStt++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

