@model Five_P.Models.Rate_Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<hr />
<hr />
<hr />
<hr />
<form id="myform2">
    ma nguoi dung
    <input type="text" name="user_id" value="" class="form-control" />
    ma tin tức
    <button type="button" id="btnSubmit2">Gửi</button>
</form>
<script>
    $(document).ready(function () {
        $("#btnSubmit2").click(function () {
            var data = $("#myform2").serialize();
            $.ajax({
                type: "POST",
                url: "/Rate_Post/Create",
                data: data,
                success: function (response) {
                    alert("Sữa thành công");
                    $(this).show();
                }
            })
        })
    })
</script>